html {
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

$dark: #000;
$light: #fff;
$blue--light: #aac4ef;
$gray: #b9bab9;
$gray--dark: #999a97;

$icon-sizes: 25, 30, 40;

.icon {
  display: inline-block;
  aspect-ratio: 1;

  @each $s in $icon-sizes {
    &--#{$s} {
      width: #{$s}px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  background-color: $blue--light;
  margin: 0;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.weather {
  $column-gap: 2.5rem;
  display: flex;
  align-items: center;
  column-gap: $column-gap;
  overflow-x: auto;
  padding-left: 4rem;
  padding-right: 20%;

  &--with-mask {
    mask-image: linear-gradient(
      to right,
      transparent,
      $dark 20%,
      $dark 80%,
      transparent
    );
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    flex-shrink: 0;
    width: calc(25% - (3 * $column-gap / 4));
  }

  &__day {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__deg {
    font-size: 1.4rem;

    &--large {
      font-size: 2.8rem;
    }
  }
}

.datetime {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 3rem;
  padding-right: 4rem;
  overflow: hidden;

  &__date-group {
    text-align: right;
    font-size: 1.6rem;
    color: $gray;
    flex-grow: 1;
    overflow: hidden;

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__time {
    color: $light;
    white-space: nowrap;

    time {
      font-size: 5rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
    }

    span {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }
}

.card {
  $root: &;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1.2rem;
  padding-block: 1.5rem;
  align-items: center;
  flex-shrink: 0;

  &--video {
    max-width: 16rem;

    #{$root} {
      &__preview {
        height: 9rem;
      }

      &__info {
        padding-inline: 0.5rem;
      }
    }
  }

  &--music {
    aspect-ratio: 1 / 1;
    max-width: 9rem;

    #{$root} {
      &__info {
        padding-inline: 1rem;
      }
    }
  }

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      #{$root} {
        &__preview {
          scale: 1.2;
          z-index: 1;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  &__preview {
    position: relative;
    width: 100%;
    transition: scale 300ms ease;
    box-shadow: 0 0.8rem 0.8rem -0.8rem $dark;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba($dark, 0.3);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
      width: 5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: rgba($dark, 0.7);
      background-image: url("../src/img/play.svg");
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity 300ms ease;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    max-width: 100%;
    white-space: nowrap;
  }

  &__showtime,
  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__showtime {
    font-size: 1.2rem;
    color: $gray--dark;
  }

  &__title {
    font-size: 1.4rem;
    color: $dark;
  }
}

.music-player {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 40rem;
  width: 100%;
  padding-inline: 2rem;

  &__info {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }

  &__image {
    position: relative;
    width: 6rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: 0 0.8rem 0.8rem -0.8rem rgba($dark, 0.5);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    flex-grow: 1;
  }

  &__song {
    font-size: 1.4rem;
    color: $dark;
  }

  &__artist {
    font-size: 1.2rem;
    color: $gray--dark;
  }

  &__time-tracker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
  }

  &__current-time,
  &__total-time {
    color: $gray--dark;
    font-size: 1.2rem;
  }

  &__soundline {
    position: relative;
    height: 0.2rem;
    background-color: $gray--dark;
    width: 100%;

    &::-webkit-progress-value {
      position: relative;
      background-color: $dark;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 30%;
      translate: -50% -50%;
      width: 1rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: $dark;
    }
  }
}

.app {
  max-width: 81.6rem;
  width: 100%;
  background-color: $light;

  &__header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    padding-block: 4rem;
    background-image: url("./img/background.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $light;

    > * {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba($dark, 0.7);
    }
  }

  &__section {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2.5rem;

    &--with-border {
      position: relative;
      border-bottom: 0.1rem solid $gray;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.4rem;
        left: 50%;
        translate: -50%;
        height: 0.8rem;
        width: 11.4rem;
        background-color: $blue--light;
        border-radius: 0.4rem;
      }
    }
  }

  &__section-image {
    display: flex;
    align-items: center;
    color: $blue--light;
    flex-shrink: 0;
    padding-left: 4rem;
    padding-right: 2rem;
  }

  &__content {
    flex-grow: 1;
    overflow: hidden;

    &--with-flex {
      display: flex;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    overflow-x: auto;
    padding-bottom: 1.5rem;
    padding-inline: 2rem;
  }

  &__btn {
    font-family: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
    text-decoration: none;
    font-size: 1.6rem;
    color: $gray;
    font-weight: 600;
    scale: 0.9;
    white-space: nowrap;
    transition-property: scale, color;
    transition-duration: 300ms;
    transition-timing-function: ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: $dark;
        scale: 1;
      }
    }

    &--active {
      color: $dark;
      scale: 1;
      pointer-events: none;
    }
  }

  &__scroll-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-inline: 2rem;
  }
}
